<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Edit Post')"></head>
<body>
<nav th:replace="partials/partials :: header"></nav>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">
    <h2>Edit Post</h2>
    <form th:action="@{|/posts/${post.id}/edit|}" th:method="post" th:object="${post}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{user}"/>
        <label for="title">Title: </label>
        <input type="text" th:field="*{title}" id="title" class="field" th:value="${post.title}"/>
        <br><br>
        <label for="body">Body:</label><br>
        <textarea th:field="*{body}" id="body" class="field" rows="4" cols="50" th:text="${post.body}"></textarea><br>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="/posts" class="btn btn-primary">BACK</a>
    </form>
</div>

<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: scripts"></script>

</body>
</html>

